/* ----------------- DEFAULT ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aeonik", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

:root {
    --window-width: 1620px;
}

body[data-theme="dark"] {
    --primary-color: hsl(58, 94%, 60%);
    --secondary-color: hsl(218, 77%, 45%);

    --bg-dark: hsl(0 0% 25%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0 0% 20%);
    --title: hsl(0, 0%, 95%);
    --text: hsl(0 0% 90%);
}

body[data-theme="light"] {
    --primary-color: hsl(218, 77%, 45%);
    --secondary-color: hsl(58, 94%, 60%);

    --bg-dark: hsl(0 0% 80%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0 0% 90%);
    --title: hsl(0 0% 5%);
    --text: hsl(0 0% 30%);
}

body {
    background-color: var(--bg);
    position: relative;
}

html {
    max-width: var(--window-width);
    margin: 0 auto;
    width: 100%;

    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background:  var(--primary-color);
}

/* ----------------- DEFAULT ----------------- */

/* ----------------- SECTIONS ----------------- */

section {
    width: 100%;
}

.container {
    max-width: 100%;
    width: 100%;
    padding-block: 4rem;
}

.wrapper {
    max-width: var(--window-width);
    width: 90%;
    margin: 0 auto;
}

/* ----------------- SECTIONS ----------------- */


/* ----------------- BASE STYLES ----------------- */

.d-flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }

.justify-content-start { justify-content: flex-start; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: flex-end; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.justify-content-evenly { justify-content: space-evenly; }

.align-items-start { align-items: flex-start; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }

.p-8   { padding: 0.5rem; }
.p-16  { padding: 1rem; }
.p-24  { padding: 1.5rem; }
.p-32  { padding: 2rem; }
.p-40  { padding: 2.5rem; }
.p-48  { padding: 3rem; }
.p-56  { padding: 3.5rem; }
.p-64  { padding: 4rem; }

.pt-8  { padding-top: 0.5rem; }
.pt-16 { padding-top: 1rem; }
.pt-24 { padding-top: 1.5rem; }
.pt-32 { padding-top: 2rem; }
.pt-40 { padding-top: 2.5rem; }
.pt-48 { padding-top: 3rem; }
.pt-56 { padding-top: 3.5rem; }
.pt-64 { padding-top: 4rem; }

.pr-8  { padding-right: 0.5rem; }
.pr-16 { padding-right: 1rem; }
.pr-24 { padding-right: 1.5rem; }
.pr-32 { padding-right: 2rem; }
.pr-40 { padding-right: 2.5rem; }
.pr-48 { padding-right: 3rem; }
.pr-56 { padding-right: 3.5rem; }
.pr-64 { padding-right: 4rem; }

.pb-8  { padding-bottom: 0.5rem; }
.pb-16 { padding-bottom: 1rem; }
.pb-24 { padding-bottom: 1.5rem; }
.pb-32 { padding-bottom: 2rem; }
.pb-40 { padding-bottom: 2.5rem; }
.pb-48 { padding-bottom: 3rem; }
.pb-56 { padding-bottom: 3.5rem; }
.pb-64 { padding-bottom: 4rem; }

.pl-8  { padding-left: 0.5rem; }
.pl-16 { padding-left: 1rem; }
.pl-24 { padding-left: 1.5rem; }
.pl-32 { padding-left: 2rem; }
.pl-40 { padding-left: 2.5rem; }
.pl-48 { padding-left: 3rem; }
.pl-56 { padding-left: 3.5rem; }
.pl-64 { padding-left: 4rem; }

.px-8  { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-16 { padding-left: 1rem; padding-right: 1rem; }
.px-24 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-32 { padding-left: 2rem; padding-right: 2rem; }
.px-40 { padding-left: 2.5rem; padding-right: 2.5rem; }
.px-48 { padding-left: 3rem; padding-right: 3rem; }
.px-56 { padding-left: 3.5rem; padding-right: 3.5rem; }
.px-64 { padding-left: 4rem; }

.py-8  { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-16 { padding-top: 1rem; padding-bottom: 1rem; }
.py-24 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-32 { padding-top: 2rem; padding-bottom: 2rem; }
.py-40 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.py-48 { padding-top: 3rem; padding-bottom: 3rem; }
.py-56 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.py-64 { padding-top: 4rem; padding-bottom: 4rem; }

.m-8   { margin: 0.5rem; }
.m-16  { margin: 1rem; }
.m-24  { margin: 1.5rem; }
.m-32  { margin: 2rem; }
.m-40  { margin: 2.5rem; }
.m-48  { margin: 3rem; }
.m-56  { margin: 3.5rem; }
.m-64  { margin: 4rem; }

.mt-8  { margin-top: 0.5rem; }
.mt-16 { margin-top: 1rem; }
.mt-24 { margin-top: 1.5rem; }
.mt-32 { margin-top: 2rem; }
.mt-40 { margin-top: 2.5rem; }
.mt-48 { margin-top: 3rem; }
.mt-56 { margin-top: 3.5rem; }
.mt-64 { margin-top: 4rem; }

.mr-8  { margin-right: 0.5rem; }
.mr-16 { margin-right: 1rem; }
.mr-24 { margin-right: 1.5rem; }
.mr-32 { margin-right: 2rem; }
.mr-40 { margin-right: 2.5rem; }
.mr-48 { margin-right: 3rem; }
.mr-56 { margin-right: 3.5rem; }
.mr-64 { margin-right: 4rem; }

.mb-8  { margin-bottom: 0.5rem; }
.mb-16 { margin-bottom: 1rem; }
.mb-24 { margin-bottom: 1.5rem; }
.mb-32 { margin-bottom: 2rem; }
.mb-40 { margin-bottom: 2.5rem; }
.mb-48 { margin-bottom: 3rem; }
.mb-56 { margin-bottom: 3.5rem; }
.mb-64 { margin-bottom: 4rem; }

.ml-8  { margin-left: 0.5rem; }
.ml-16 { margin-left: 1rem; }
.ml-24 { margin-left: 1.5rem; }
.ml-32 { margin-left: 2rem; }
.ml-40 { margin-left: 2.5rem; }
.ml-48 { margin-left: 3rem; }
.ml-56 { margin-left: 3.5rem; }
.ml-64 { margin-left: 4rem; }

.mx-8  { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-16 { margin-left: 1rem; margin-right: 1rem; }
.mx-24 { margin-left: 1.5rem; margin-right: 1.5rem; }
.mx-32 { margin-left: 2rem; margin-right: 2rem; }
.mx-40 { margin-left: 2.5rem; margin-right: 2.5rem; }
.mx-48 { margin-left: 3rem; margin-right: 3rem; }
.mx-56 { margin-left: 3.5rem; margin-right: 3.5rem; }
.mx-64 { margin-left: 4rem; margin-right: 4rem; }

.my-8  { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-16 { margin-top: 1rem; margin-bottom: 1rem; }
.my-24 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.my-32 { margin-top: 2rem; margin-bottom: 2rem; }
.my-40 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
.my-48 { margin-top: 3rem; margin-bottom: 3rem; }
.my-56 { margin-top: 3.5rem; margin-bottom: 3.5rem; }
.my-64 { margin-top: 4rem; margin-bottom: 4rem; }

.gap-8  { --gap: 0.5rem; gap: var(--gap); }
.gap-16 { --gap: 1rem; gap: var(--gap); }
.gap-24 { --gap: 1.5rem; gap: var(--gap); }
.gap-32 { --gap: 2rem; gap: var(--gap); }
.gap-40 { --gap: 2.5rem; gap: var(--gap); }
.gap-48 { --gap: 3rem; gap: var(--gap); }
.gap-56 { --gap: 3.5rem; gap: var(--gap); }
.gap-64 { --gap: 4rem; gap: var(--gap); }

.col-1  { flex: 1 0 calc(8.33% - (var(--gap) / 2)); max-width: calc(8.33%); }
.col-2  { flex: 1 0 calc(16.66% - (var(--gap) / 2)); max-width: calc(16.66%); }
.col-3  { flex: 1 0 calc(25% - (var(--gap) / 2)); max-width: calc(25%); }
.col-4  { flex: 1 0 calc(33.33% - (var(--gap) / 2)); max-width: calc(33.33%); }
.col-5  { flex: 1 0 calc(41.66% - (var(--gap) / 2)); max-width: calc(41.66%); }
.col-6  { flex: 1 0 calc(50% - (var(--gap) / 2)); max-width: calc(50%); }
.col-7  { flex: 1 0 calc(58.33% - (var(--gap) / 2)); max-width: calc(58.33%); }
.col-8  { flex: 1 0 calc(66.66% - (var(--gap) / 2)); max-width: calc(66.66%); }
.col-9  { flex: 1 0 calc(75% - (var(--gap) / 2)); max-width: calc(75%); }
.col-10 { flex: 1 0 calc(83.33% - (var(--gap) / 2)); max-width: calc(83.33%); }
.col-11 { flex: 1 0 calc(91.66% - (var(--gap) / 2)); max-width: calc(91.66%); }
.col-12 { flex: 1 0 calc(100% - (var(--gap) / 2)); max-width: calc(100%); }

@media (max-width: 1024px) {
    .col-md-1  { flex: 1 0 calc(8.33% - (var(--gap) / 2)); max-width: calc(8.33%); }
    .col-md-2  { flex: 1 0 calc(16.66% - (var(--gap) / 2)); max-width: calc(16.66%); }
    .col-md-3  { flex: 1 0 calc(25% - (var(--gap) / 2)); max-width: calc(25%); }
    .col-md-4  { flex: 1 0 calc(33.33% - (var(--gap) / 2)); max-width: calc(33.33%); }
    .col-md-5  { flex: 1 0 calc(41.66% - (var(--gap) / 2)); max-width: calc(41.66%); }
    .col-md-6  { flex: 1 0 calc(50% - (var(--gap) / 2)); max-width: calc(50%); }
    .col-md-7  { flex: 1 0 calc(58.33% - (var(--gap) / 2)); max-width: calc(58.33%); }
    .col-md-8  { flex: 1 0 calc(66.66% - (var(--gap) / 2)); max-width: calc(66.66%); }
    .col-md-9  { flex: 1 0 calc(75% - (var(--gap) / 2)); max-width: calc(75%); }
    .col-md-10 { flex: 1 0 calc(83.33% - (var(--gap) / 2)); max-width: calc(83.33%); }
    .col-md-11 { flex: 1 0 calc(91.66% - (var(--gap) / 2)); max-width: calc(91.66%); }
    .col-md-12 { flex: 1 0 calc(100% - (var(--gap) / 2)); max-width: calc(100%); }
}

@media (max-width: 768px) {
    .col-sm-1  { flex: 1 0 calc(8.33% - (var(--gap) / 2)); max-width: calc(8.33%); }
    .col-sm-2  { flex: 1 0 calc(16.66% - (var(--gap) / 2)); max-width: calc(16.66%); }
    .col-sm-3  { flex: 1 0 calc(25% - (var(--gap) / 2)); max-width: calc(25%); }
    .col-sm-4  { flex: 1 0 calc(33.33% - (var(--gap) / 2)); max-width: calc(33.33%); }
    .col-sm-5  { flex: 1 0 calc(41.66% - (var(--gap) / 2)); max-width: calc(41.66%); }
    .col-sm-6  { flex: 1 0 calc(50% - (var(--gap) / 2)); max-width: calc(50%); }
    .col-sm-7  { flex: 1 0 calc(58.33% - (var(--gap) / 2)); max-width: calc(58.33%); }
    .col-sm-8  { flex: 1 0 calc(66.66% - (var(--gap) / 2)); max-width: calc(66.66%); }
    .col-sm-9  { flex: 1 0 calc(75% - (var(--gap) / 2)); max-width: calc(75%); }
    .col-sm-10 { flex: 1 0 calc(83.33% - (var(--gap) / 2)); max-width: calc(83.33%); }
    .col-sm-11 { flex: 1 0 calc(91.66% - (var(--gap) / 2)); max-width: calc(91.66%); }
    .col-sm-12 { flex: 1 0 calc(100% - (var(--gap) / 2)); max-width: calc(100%); }
}

@media (max-width: 480px) { 
    .col-xs-1  { flex: 1 0 calc(8.33% - (var(--gap) / 2)); max-width: calc(8.33%); }
    .col-xs-2  { flex: 1 0 calc(16.66% - (var(--gap) / 2)); max-width: calc(16.66%); }
    .col-xs-3  { flex: 1 0 calc(25% - (var(--gap) / 2)); max-width: calc(25%); }
    .col-xs-4  { flex: 1 0 calc(33.33% - (var(--gap) / 2)); max-width: calc(33.33%); }
    .col-xs-5  { flex: 1 0 calc(41.66% - (var(--gap) / 2)); max-width: calc(41.66%); }
    .col-xs-6  { flex: 1 0 calc(50% - (var(--gap) / 2)); max-width: calc(50%); }
    .col-xs-7  { flex: 1 0 calc(58.33% - (var(--gap) / 2)); max-width: calc(58.33%); }
    .col-xs-8  { flex: 1 0 calc(66.66% - (var(--gap) / 2)); max-width: calc(66.66%); }
    .col-xs-9  { flex: 1 0 calc(75% - (var(--gap) / 2)); max-width: calc(75%); }
    .col-xs-10 { flex: 1 0 calc(83.33% - (var(--gap) / 2)); max-width: calc(83.33%); }
    .col-xs-11 { flex: 1 0 calc(91.66% - (var(--gap) / 2)); max-width: calc(91.66%); }
    .col-xs-12 { flex: 1 0 calc(100% - (var(--gap) / 2)); max-width: calc(100%); }
}