/* font-family: 'Fira Code', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --color-black1: #000;
    --color-black2: #222222;
    --color-white: #fff;
    --color-white2: #f1f1f1;
    --color-what: #000000a9;
    --color-blue1: #003cff;
    --color-blue2: #407BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background:  var(--color-black2);
    border-radius: 5rem;
}

body {
    background: var(--color-white);
}

section {
    padding: 8rem 5rem 0 5rem;
}

.title  {
    color: var(--color-black2);
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2.5rem;
}

/* ---------------------------------------------- */

.header {
    background: var(--color-what);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6.5rem 1.5rem 6.5rem;
    position: fixed;
    height: 10vh;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo p {
    color: var(--color-white);
    font-size: 3em;
}

/* ---------------------------------------------- */

.section .content {
    display: flex;
    gap: 2rem;
}

.section .content .img {
    width: 67%;
    height: auto;
}

.section .content .img .main-img {
    overflow: hidden;
}

.section .content .img .main-img img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.section .content .img .main-img img:hover {
    transform: scale(1.15);
}

/* ---------------------------------------------- */

.section .content .text {
    width: 33%;
}

.section .content .text .box-text {
    width: 100%;
    text-align: justify;
}

.section .content .text .box-text p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.section .content .text .buttons div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section .content .text .buttons .btn {
    color: var(--color-white);
    background: var(--color-black1);
    display: inline-block;
    position: relative;
    border: 2px solid var(--color-black1);
    overflow: hidden;
    cursor: pointer;
    padding: 8px 25px;
    font-size: 1.3em;
    margin-top: 10px;
    z-index: 0;
}

.section .content .text .buttons .btn:hover {
    color: var(--color-black1);
    transition: .3s;
}

.section .content .text .buttons .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    z-index: -1;
    color: var(--color-black1);
    transition: all .4s;
}

.section .content .text .buttons .button1::before {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}

.section .content .text .buttons .button1:hover::before {
    width: 100%;
}

.section .content .text .buttons .button2::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.section .content .text .buttons .button2:hover::before {
    width: 100%;
}

/* ---------------------------------------------- */

.main-scroll-img {
    width: 66%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 4rem;
    gap: 1rem;
}

.main-scroll-img .icon {
    background: var(--color-black1);
    cursor: pointer;
    border: none;
    padding: 10px;
}

.main-scroll-img .icon i {
    color: var(--color-white);
    font-size: 1.5rem;
}

.cover {
    position: relative;
    width: 90%;
    height: 200px;
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child {
    width: 300px;
    height: 180px;
    margin-right: 40px;
    cursor: pointer;
}

.child-img {
    width: 300px;
    height: 180px;
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 1370px) {
    html {
        font-size: 80%;
    }
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 1200px) {
    html {
        font-size: 70%;
    }

    section {
        padding: 7rem 5rem 0 5rem;
    }

    .header {
        padding: 1.5rem 5.5rem 1.5rem 5.5rem;
    }

    .header .logo p {
        font-size: 2.5em;
    }

    .main-scroll-img {
        width: 100%;
    }
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 990px) {
    html {
        font-size: 65%;
    }

    section {
        padding: 7rem 2rem 0 2rem;
    }

    .main-scroll-img {
        padding-top: 0;
    }

    .cover {
        height: 150px;
    }

    .child {
        width: 250px;
        height: 150px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    .child-img {
        width: 250px;
        height: 150px;
    }

    /* body {
        overflow-x: hidden;
    } */
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 768px) {
    .header {
        padding: 1.5rem 4rem 1.5rem 4rem;
    }

    section {
        padding: 10rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .section .content .img {
        width: 90%;
    }

    .section .content .text {
        width: 65%;
    }
    
    .main-scroll-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cover {
        height: 125px;
    }

    .child {
        width: 220px;
        height: 125px;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .child-img {
        width: 220px;
        height: 125px;
    }
    
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }

    section {
        padding: 10rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        padding: 1.5rem 3rem 1.5rem 3rem;
    }

    .main-scroll-img {
        width: 70%;
    }

    .cover {
        height: 110px;
    }

    .child {
        width: 195px;
        height: 110px;
        cursor: pointer;
    }
    
    .child-img {
        width: 195px;
        height: 110px;
    }
}

/* ------------------------------------------------------------------------------ */