/* font-family: 'Fira Code', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --color-black1: #000;
    --color-black2: #222222;
    --color-white: #fff;
    --color-white2: #f1f1f1;
    --color-what: #000;
    --color-blue1: #003cff;
    --border: 1px solid rgba(255,255,255,0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background:  var(--color-black2);
    border-radius: 5rem;
}

body {
    background: var(--color-white2);
}

section {
    padding: 2rem 7rem;
}

.title  {
    color: var(--color-black2);
    font-size: 2em;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

/* ------------------------------------------------------------------------------ */

.header {
    background: var(--color-black1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6.5rem 1.5rem 6.5rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo p {
    color: var(--color-white);
    font-size: 3em;
}

.header .navbar a {
    color: var(--color-white);
    font-size: 1.3em;
    margin: 0 20px 0 20px;
}

.header .navbar a:hover {
    border-bottom: 0.1rem solid var(--color-white);
    padding-bottom: 0.5rem;
    transition-duration: 0.3s;
}

/* ------------------------------------------------------------------------------ */

.home {
    min-height: 100vh;
    background: url(../imagens/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home .content .text1 h1 {
    font-size: 4em;
    color: #fff;
}

.home .content .text1 h2 {
    font-size: 2em;
    padding: 1rem 0 1rem 0;
    color: #fff;
}

.home .content .icons {
    display: flex;
    margin: 0 75.5% 0 0%;
    justify-content: space-between;
}

.home .content .icons:nth-child(1) {
    color: #fff;
}

/* .home .content .text2 {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 0 75% 0 0 ;
} */

/* ------------------------------------------------------------------- */

.aboutMe .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-white2);    
}

/* .aboutMe .container .content-img .image {
    margin:0 25px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.aboutMe .container .content-img .image img {
    width: 400px;
}

/* .aboutMe .container .content {
    
}  */

.aboutMe .container .content-text {
    margin:0 0 0 30px;
}

.aboutMe .container .content-text p {
    color: var(--color-black2);
    text-align: justify;
    font-weight: bold;
    padding-bottom: 40px;
}

.aboutMe .container .content-text .btn span {
    color: var(--color-black2);
    position: absolute;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 42%;
}

/* ------------------------------------------------------------------------------ */