/* font-family: 'Fira Code', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-black1: #000;
    --color-black2: #222222;
    --color-white: #fff;
    --color-white2: #f1f1f1;
    --color-what: #000000a9;
    --color-blue1: #003cff;
    --color-blue2: #407BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background:  var(--color-black2);
    border-radius: 5rem;
}

body {
    background: var(--color-white);
}

section {
    padding: 4rem 7rem;
}

.title  {
    color: var(--color-black2);
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

/* ------------------------------------------------------------------------------ */

.header {
    background: var(--color-what);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6.5rem 1.5rem 6.5rem;
    position: fixed;
    height: 10vh;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo p {
    color: var(--color-white);
    font-size: 3em;
}

.header .navbar a {
    color: var(--color-white);
    font-size: 1.3em;
    margin: 0 20px 0 20px;
}

.header .navbar a:hover {
    border-bottom: 0.1rem solid var(--color-white);
    padding-bottom: 0.5rem;
    transition-duration: 0.3s;
}

.header .mobile-menu {
    color: var(--color-white);
    cursor: pointer;
    font-size: 2.5em;
    display: none;
}

.header .fa-bars {
    display: none;
}

/* ------------------------------------------------------------------------------ */

.home {
    min-height: 100vh;
    background: url(../imagens/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 7rem 7rem 2rem 7rem;
}

.home .content .text1 h1 {
    font-size: 4em;
    color: var(--color-black1);
    border-right: 5px solid var(--color-black1);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 2.5s steps(20),
    cursor .6s step-end infinite alternate;
}

.home .content .text1 h2 {
    font-size: 2em;
    padding: 2rem 0 1rem 0;
    color: #fff;
}

.home .content .icons {
    display: flex;
    margin: 0 75.5% 0 0%;
    justify-content: space-between;
}

.home .content .icons:nth-child(1) {
    color: #fff;
}

/* .home .content .text2 {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 0 75% 0 0 ;
} */

/* ------------------------------------------------------------------- */

.aboutMe .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));  
}

.aboutMe .container .image {
    text-align: center;
}

.aboutMe .container .image img {
    width: 450px;
    height: 450px; 
}

.aboutMe .container .text {
    text-align: center;
}

.aboutMe .container .text p {
    color: var(--color-black2);
    text-align: justify;
    padding-bottom: 40px;
}

.aboutMe .container .text .btn {
    margin-top: 10px;
    display: inline-block;
    background: var(--color-black1);
    color: var(--color-white);
    font-size: 1.3em;
    border: none;
    font-weight: 400;
    border-radius: 25px;
    padding: 8px 25px;
}

.aboutMe .container .text .btn:hover {
    background: var(--color-black2);
    transform: scale(1.05);
    transition: .4s;
}

.aboutMe .container .text .btn:not(:hover) {
    transition: .4s;
}

/* ------------------------------------------------------------------------------ */

.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    gap: 3rem;
}

.projects .container .box {
    text-align: center;
}

.projects .container .box .text h3 {
    color: var(--color-black2);
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 1.9rem;
}

.projects .container .box .image {
    overflow: hidden;
}

.projects .container .box .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.projects .container .box .image img:hover {
    transform: scale(1.2);
}

.projects .container .box .icons img {
    width: 10%; 
    padding-top: 40px;
    padding-bottom: 20px;
}

.projects .container .box .icons img:hover {
    transform: scale(1.15);
    transition: .3s;
}

.projects .container .box .icons img:not(:hover) {
    transition: .3s;
}

.projects .container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: var(--color-black1);
    color: var(--color-white);
    font-size: 1.3em;
    border: none;
    font-weight: 400;
    border-radius: 25px;
    padding: 8px 25px;
}

.projects .container .box  .btn:hover {
    background: var(--color-black2);
    transform: scale(1.05);
    transition: .4s;
}

.projects .container .box  .btn:not(:hover) {
    transition: .4s;
}

/* ------------------------------------------------------------------------------ */

.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    gap: 3rem;
}

.skills .container .box {
    text-align: center;
}

.skills .container .box .text h3 {
    color: var(--color-black2);
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 1.9rem;
}

.skills .container .image {
    text-align: center;
}

.skills .container .image img {
    width: 225px;
    height: 225px; 
}

.skills .container .box p {
    color: var(--color-black2);
    text-align: justify;
    padding-bottom: 40px;
}

/* ------------------------------------------------------------------------------ */
.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacts .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 700px;
}

.contacts .container .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts .container .form .label {
    font-size: 20px;
    margin: 5px 0 5px 0;
    color: var(--color-black1);
}

.contacts .container .form .input {
    background-color: var(--color-black2);
    padding: 15px;
    outline: none;
    border: 0;
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 16px;
}



.contacts .container .form .input::placeholder {
    color: var(--color-white2);
}

.contacts .container .form .textarea {
    background-color: var(--color-black2);
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 7px;
    margin-bottom: 20px;
}

.contacts .container .form .textarea::placeholder {
    color: var(--color-white2);
}

.contacts .container .form .btn {
    margin-top: 10px;
    display: inline-block;
    background: var(--color-black1);
    color: var(--color-white);
    font-size: 1.3em;
    border: none;
    font-weight: 400;
    border-radius: 25px;
    padding: 8px 25px;
}

.contacts .container .form .btn:hover {
    background: var(--color-black2);
    transform: scale(1.05);
    transition: .4s;
}

.contacts .container .form .btn:not(:hover) {
    transition: .4s;
}

/* ------------------------------------------------------------------------------ */

.footer {
    background-color: var( --color-black2);
    padding: 2rem 0rem;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container .box p {
    color: var(--color-white);
    text-align: center;
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 1200px) {
    section {
        padding: 4rem 5rem;
    }

    .header {
        padding: 1.5rem 5.5rem 1.5rem 5.5rem;
    }

    .header .logo p {
        font-size: 2.5em;
    }
    
    .header .navbar a {
        font-size: 1.1em;
        margin: 0 15px 0 15px;
    }
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 990px) {
    html {
        font-size: 75%;
    }

    section {
        padding: 4rem 2rem;
    }

    .header .navbar a {
        color: var(--color-white);
        margin: 2rem;
        font-size: 1.3rem;
    }

    .header .navbar a:hover {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .header .mobile-menu {
        display: block;
    }

    .header .fa-bars {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 40vw;
        height: 40vh;
        background: var(--color-what);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%); /* Impedir o conteúdo de sair da tela*/
        transition: transform .3s ease-in;
    }

    .header .navbar.active {
        transform: translateX(0);
    }

    body {
        overflow-x: hidden;
    }
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 768px) {
    
    .home .content .text1 h1 {
        font-size: 2.7em;
    }

    .home .content .text1 h2 {
        font-size: 1.7em;
    }

    .aboutMe .container .image img {
        width: 380px;
        height: 380px; 
    }

    .skills .container .image img {
        width: 180px;
        height: 180px; 
    }
}

/* ------------------------------------------------------------------------------ */

@media (max-width: 500px) {
    html {
        font-size: 60%;
    }

    .home {
        padding: 2rem 2rem;
    }

    section {
        padding: 2rem 2rem;
    }

    .header {
        padding: 1.5rem 3rem 1.5rem 3rem;
    }

    .aboutMe .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    }

    .aboutMe .container .image img {
        width: 250px;
        height: 250px; 
    }

    .projects .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        gap: 3rem;
    }

    .skills .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        gap: 3rem;
    }

    .skills .container .image img {
        width: 100px;
        height: 100px; 
    }
}

/* ------------------------------------------------------------------------------ */

/* Animação digitação nome na Home */

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
}

/* ------------------------------------------------------------------------------ */

/* Animação ao "scrollar" */

[data-anime] {
    opacity: 0;
    transition: .4s;
}

[data-anime="left"] {
    transform: translate3d(-25px, 0, 0);
} 

[data-anime="right"] {
    transform: translate3d(25px, 0, 0);
}

[data-anime="botton"] {
    transform: translate3d(0, 70px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}